.comment {
	display: flex;
	gap: var(--spacing-300);
	background-color: var(--white);
	max-width: 730px;
	width: 100%;
	border-radius: var(--spacing-100);
	padding: 23.5px 24px;
}

.mobile-comment {
	flex-direction: column;
	padding: var(--spacing-200);
}

.grey-text {
	color: var(--grey-500);
}

.comment-header {
	display: flex;
	align-items: center;
	gap: var(--spacing-200);
}

.comment-header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-username {
	display: flex;
	align-items: center;
	gap: var(--spacing-100);
}

.comment-edit {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
}

.comment-edit button {
	width: 104px;
	align-self: flex-end;
}

.you-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 19px;
	background-color: var(--purple-600);
	color: var(--white);
	border-radius: 2px;
}

.comment-actions {
	display: flex;
	align-items: center;
	gap: var(--spacing-300);
}

.comment-actions-mobile {
	gap: var(--spacing-200);
}

.comment-actions-mobile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.comment-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
	text-wrap: wrap;
	word-break: break-word;
}

.comment-avatar {
	width: 32px;
	height: 32px;
}

.create-comment-avatar {
	width: 40px;
	height: 40px;
}

.comment-textarea {
	field-sizing: content;
	width: 100%;
	min-height: 96px;
	border-radius: var(--spacing-100);
	border: 1px solid var(--grey-100);
	padding: var(--spacing-100) var(--spacing-200);
	resize: none;
	outline-color: var(--purple-600);
}

.replying-to {
	color: var(--purple-600);
}
