* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Colors */
	--white: #ffffff;
	--black: #000000;

	--grey-800: #334253;
	--grey-500: #67727e;
	--grey-100: #e9ebf0;
	--grey-50: #f5f6fa;

	--purple-600: #5357b6;
	--purple-200: #c5c6ef;

	--pink-400: #ed6368;
	--pink-200: #ffb8bb;

	/* Font */
	--font-family: "Rubik", sans-serif;

	/* Spacing */
	--spacing-100: 8px;
	--spacing-200: 16px;
	--spacing-300: 24px;
	--spacing-500: 40px;
}

body {
	background-color: var(--grey-50);
}

.header {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 120%;
	color: var(--grey-800);
}

.subtitle {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 150%;
	color: var(--grey-800);
}

.body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 150%;
}

.caption {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0px;
	line-height: 120%;
}
