.container {
	padding: 58px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-300);
	max-width: 730px;
}

.reply-line {
	border: 1px solid var(--grey-100);
	margin-right: var(--spacing-500);
	margin-left: 46px;
}

.reply-container {
	display: flex;
}

.reply-cards {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
}
