.container {
	padding: 58px 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-300);
	max-width: 730px;
}

.reply-line {
	border: 1px solid var(--grey-100);
	margin-right: var(--spacing-500);
	margin-left: 46px;
}

@media only screen and (max-width: 600px) {
	.container {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.main {
		gap: var(--spacing-200);
	}

	.reply-line {
		margin-left: 0;
		margin-right: var(--spacing-200);
	}
}

.reply-container {
	display: flex;
}

.reply-cards {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
}
